<div class="row">
  <h1 class="page-header">{{title}}</h1>

</div>
<div class="row">
  <div class="col-lg-12">
    <form name="addTask"  id="taskForm" novalidate>
      <div class='table-responsive' ng-app="">
        <table class="table table-bordered">
          <tr>
            <th>Task</th>
            <td>
              <input type="text" [(ngModel)]="taskDescription" class="form-control" name="Task" required>
            </td>
          </tr>
          <tr>
            <th>Priority</th>
            <td item-width="100%">
              <tr>
                <td>0</td>
                <td>30</td>
              </tr>
              <input type="range" min="0" max="30" [(ngModel)]="taskPriority" class="form-control" name="Priority" required>
            </td>
          </tr>
          <tr>
            <th>Parent Task</th>
            <td>
              <input type="text" [(ngModel)]="taskParent" class="form-control" name="Parent">
            </td>
          </tr>
          <tr>
            <th>Start Date</th>
            <td>
              <input type="date" [(ngModel)]="taskStartDate" class="form-control" name="startDate" required>
            </td>
          </tr>
          <tr>
            <th>End Date</th>
            <td>
              <input type="date" [(ngModel)]="taskEndDate" class="form-control" name="enddate" required>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center"><button id="btnAddTask" type="submit" (click)='AddTask()' class="btn btn-default">Add Task</button> | <button
                id="btnReset" type="submit" class="btn btn-default" (click)="reset()">Reset</button></td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>

<div *ngIf="responseData === true;">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> New task added successfully !!!
  </div>
</div>
